.navbar-custom{
    background-color: rgba(45, 47, 51, .5);
    .navbar-brand{
        box-sizing: content-box;
        border-bottom: 4px solid;
        color: #FFCCCC;
        border-image: linear-gradient(to right, rgba(149,22,133,1) 20%, rgba(255,0,78,1) 100%);
        border-image-slice: 1;
        // background-image: linear-gradient(to right, rgba(149,22,133,1) 20%, rgba(255,0,78,1) 100%);
        // background-clip: text;
        // -webkit-text-fill-color: transparent;
    }
    .custom-link{
        color: white;
        outline: theme-color("purple") solid 1px;
    }
    .custom-link:not(:last-child){
        margin-right: 10px;
    }
    .nav-link:hover{
        background-color: rgba(255, 255, 255, .3);
    }
    .web-events{
        color: white;
        outline: rgb(151, 255, 15) solid 1px;
    }
    .web-events:hover{
        background-color: rgba(165, 165, 165, 0.3);
    }
    .web-events:not(:last-child){
        margin-right: 10px;
    }
}

@media (min-width: 320px) and (max-width: 1199px) {
    .profile{
        width: 100%;
        margin-bottom: 10px;
    }

    .dropDown-custom{
        margin-bottom: 5px;
    }

    .nav-link{
        width: 100%;
        margin-bottom: 10px;
    }
    .nav-link:first-child{
        margin-top: 20px;
        outline: theme-color("purple") solid 1px;
    }
}