rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /avatars/{avatarId} {
      // Only allow uploads of any image file that's less than 5MB
      allow write: if request.resource.size < 1 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
      allow delete: if true;
      allow get: if true;
    }
  }
}
