$primary: #0d6efd;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;
$dark-custom: #206876;
$purple: rgb(152, 82, 173);
$orange: #FF8243;